* {
  font-family: 'Microsoft Yahei';
  box-sizing: border-box;
  text-decoration: none;
}
ul,
ol,
dd,
dt,
dl {
  list-style: none outside none;
}
body {
  background: url(http://csstoolkits.com/images/bg/09.jpg) no-repeat center center fixed;
  background-size: cover;
}
.ct-bg {
  background: rgba(255, 255, 255, 0.8);
}
.thumbs-all {
  display: block;
  overflow-x: hidden;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}
.thumbs-all .portfolio {
  padding: 20px 0 0 0;
}
.thumbs-all h1.subtitle {
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: -2px;
  text-transform: none;
  color: #676767;
}
.thumbs-all p.title-detail {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  color: #333;
}
.thumbs-all .filter {
  margin: 30px 0 30px 0;
  text-align: center;
}
.thumbs-all .filter a:hover,
.thumbs-all .filter a.selected {
  text-decoration: none;
  color: #fff;
  background: rgba(45, 190, 96, 0.8);
}
.thumbs-all .filter a {
  font-family: 'Open Sans', 'Microsoft Yahei';
  font-size: 14px;
  font-weight: bold;
  font-weight: 400;
  display: inline-block;
  margin: 0 3px;
  padding: 12px 21px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  background-color: rgba(255, 255, 255, 0.8);
}
.thumbs-all .portfolio_list {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.thumbs-all .portfolio_list li {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.thumbs-all .portfolio_list li img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}
.thumbs-all .portfolio_list.active {
  display: block;
}
.thumbs-all .portfolio_list:after {
  display: table;
  content: '';
}
.thumbs-all .portfolio_list .img-hover {
  box-sizing: border-box;
}
.thumbs-all .portfolio_list .img-hover .img-hover-text {
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  color: rgba(45, 190, 96, 0.8);
  box-sizing: border-box;
  -webkit-transform: translate3D(-100%, 0, 0);
      -ms-transform: translate3D(-100%, 0, 0);
          transform: translate3D(-100%, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.thumbs-all .portfolio_list .img-hover .img-hover-text .ct-h3 {
  line-height: 1.5;
}
.thumbs-all .portfolio_list .img-hover:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.thumbs-all .portfolio_list .img-hover:hover .img-hover-text {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  background: rgba(255, 255, 255, 0.5);
}
@media (min-width: 768px) {
  .thumbs-all {
    padding: 30px 0;
  }
  .thumbs-all .portfolio {
    padding: 20px 0 0 0;
  }
  .thumbs-all h1.subtitle {
    font-size: 45px !important;
  }
  .thumbs-all p.title-detail {
    font-size: 18px !important;
  }
}
/*pad and phone style */
@media (max-width: 767px) {
  .thumbs-all {
    padding: 20px 0;
  }
  .thumbs-all .portfolio {
    padding: 10px 0 0 0;
  }
  .thumbs-all h1.light {
    font-size: 30px;
    font-weight: 200;
  }
  .thumbs-all h1.subtitle {
    font-size: 35px;
  }
  .thumbs-all p.title-detail {
    font-size: 18px !important;
  }
}
