* {
    font-family: 'Microsoft Yahei';
    box-sizing: border-box;
    text-decoration: none;
}

ul,
ol,
dd,
dt,
dl {
    list-style: none outside none;
}

body {
    background: url(http://csstoolkits.com/images/bg/01.jpg) no-repeat center center fixed;
    background-size: cover;
}

.thumbnails-all {
    display: block;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    .thumbnails_list {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
        li {
            position: relative;
            display: block;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                border: none;
                transition: all 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000);
            }
        }
        &:after {
            display: table;
            content: '';
        }
        .img-hover {
            box-sizing: border-box;
            .img-hover-text {
                position: absolute;
                top: 35%;
                z-index: 10;
                width: 100%;
                .ct-h3-sm {
                    height: 60px;
                    line-height: 1.5;
                    color: #fff;
                }
            }
            .img-hover-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-sizing: border-box;
                transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
                opacity: 0.7;
                background-color: #6786a1;
                z-index: 9;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .img-hover-bg {
                    opacity: 0.1;
                }
            }
        }
    }
}