* {
  font-family: 'Microsoft Yahei';
  box-sizing: border-box;
  text-decoration: none;
}
ul,
ol,
dd,
dt,
dl {
  list-style: none outside none;
}
body {
  background: url(http://csstoolkits.com/images/bg/01.jpg) no-repeat center center fixed;
  background-size: cover;
}
.thumbnails-all {
  display: block;
  overflow-x: hidden;
  width: 100%;
  text-align: center;
}
.thumbnails-all .thumbnails_list {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.thumbnails-all .thumbnails_list li {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.thumbnails-all .thumbnails_list li img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}
.thumbnails-all .thumbnails_list:after {
  display: table;
  content: '';
}
.thumbnails-all .thumbnails_list .img-hover {
  box-sizing: border-box;
}
.thumbnails-all .thumbnails_list .img-hover .img-hover-text {
  position: absolute;
  top: 35%;
  z-index: 10;
  width: 100%;
}
.thumbnails-all .thumbnails_list .img-hover .img-hover-text .ct-h3-sm {
  height: 60px;
  line-height: 1.5;
  color: #fff;
}
.thumbnails-all .thumbnails_list .img-hover .img-hover-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.7;
  background-color: #6786a1;
  z-index: 9;
}
.thumbnails-all .thumbnails_list .img-hover:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.thumbnails-all .thumbnails_list .img-hover:hover .img-hover-bg {
  opacity: 0.1;
}
